<div class='uit-header'>
    <div class='uit-container'>
        <div class='uit-content'>
            <h1 class='uit-header__headline' itemprop='headline'>
                <span class='uit-header__headline-kicker'>Dummy copy</span>
                A placeholder headline for the template
            </h1>
            <p class='uit-header__standfirst' itemprop='description'>Maecenas et enim odio. Nullam massa metus, varius quis vehicula sed, pharetra mollis erat. In quis viverra velit.</p>
            <p class='uit-header__byline'><a>Johnny Byline</a> and <a>Sarah Creditwriter</a> in Parts Unknown</p>

            <p class='uit-header__dateline'>
                <time itemprop='datePublished' datetime='2019-01-01T08:00:30-0500'>
                Mon 01 Jan 2019 <span class='content__dateline-time'>08.00&nbsp;EST</span>
                </time>
            </p>


            {{> partials/share }}
        </div>
    </div>
</div>
