<div class="watchman__header lazyload-container audio-section">
    <div class="uit-container">
        <h2 class="header__description">Exclusive extract<br /> Chapter one</h2>
        <h1 class="header__title">Go Set A W<span class="header__a">a</span>tchman</h1>
        <h1 class="header__byline">by Harper Lee</h1>
    </div>

    <div class="header-scene__dust"></div>
    <div class="header-scene__train">
        <div class="header-scene__track"></div>
        <div class="train">
            <div class="train__left"></div>
            <img class="train__carriage" src="{{ path }}/assets/header-train.png" />
            <div class="train__right"></div>
        </div>
        <div class="header-scene__train__under-carriage"></div>

        <div class="header-scene__train__wheels">
            <div class="train__wheel train__wheel--1"></div>
            <div class="train__wheel train__wheel--2"></div>
            <div class="train__wheel train__wheel--3"></div>
            <div class="train__wheel train__wheel--4"></div>
        </div>
    </div>


    <div class="header-scene__dust-2"></div>
    <div class="header-scene__layer-1"></div>
    <div class="header-scene__layer-2"></div>
    <div class="header-scene__birds"></div>
</div>
