<div class='uit-related'>
    <div class='uit-container'>
        <div class='uit-related__header'>
            <h4 class='uit-related__title'>Related stories</h4>
        </div>

        <div class='uit-related__items'>
            <div class='uit-related__item'>
                <a class='uit-related__link' href=''>
                    <img class='uit-related__image' src='' />
                    <div class='uit-related__headline'>This is the headline for the piece</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href=''>
                    <img class='uit-related__image' src='' />
                    <div class='uit-related__headline'>This is the headline for the piece</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href=''>
                    <img class='uit-related__image' src='' />
                    <div class='uit-related__headline'>This is the headline for the piece</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href=''>
                    <img class='uit-related__image' src='' />
                    <div class='uit-related__headline'>This is the headline for the piece</div>
                </a>
            </div>
        </div>
    </div>
</div>
