<div class='uit-related'>
    <div class='uit-container'>
        <div class='uit-related__header'>
            <h4 class='uit-related__title'>Related stories</h4>
        </div>

        <div class='uit-related__items'>
            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/books/2015/jul/11/my-lunch-with-harper-lee-oprah-winfrey-go-set-watchman'>
                    <img class='uit-related__image' src='{{ path }}/assets/footer-oprah.jpg' />
                    <div class='uit-related__headline'>My lunch with Harper Lee <span class='uit-related__byline'>Oprah Winfrey</span></div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/books/2015/jul/11/shami-chakrabarti-kill-mockingbird-made-me-lawyer'>
                    <img class='uit-related__image' src='{{ path }}/assets/footer-shami.jpg' />
                    <div class='uit-related__headline'>To Kill A Mockingbird made me a lawyer <span class='uit-related__byline'>Shami Chakrabarti</span></div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/books/2015/jul/11/harper-lee-my-little-sister-alice-finch-lee'>
                    <img class='uit-related__image' src='{{ path }}/assets/footer-finch.jpg' />
                    <div class='uit-related__headline'>My little sister Harper <span class='uit-related__byline'>Alice Finch Lee</span></div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/books/2015/jul/11/playing-scout-to-kill-mockingbird-changed-my-life-mary-badham'>
                    <img class='uit-related__image' src='{{ path }}/assets/footer-badham.jpg' />
                    <div class='uit-related__headline'>How playing Scout in To Kill A Mockingbird changed my life <span class='uit-related__byline'>Mary Badham</span></div>
                </a>
            </div>
        </div>
    </div>
</div>
