$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

$c-dark-yellow: #fff1bf;
$c-brown: #aa5a4f;
$c-orange: #fc9a81;
$c-yellow: #fefcf3;
$c-black: #333;
$c-white: #ffffff;

$f-data: 'Guardian Agate Sans 1 Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$f-serif-text: 'Guardian Text Egyptian Web', Georgia, serif;
$f-serif-headline: 'Guardian Egyptian Web', Georgia, serif;
$f-sans-serif-text: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$f-sans-serif-headline: 'Guardian Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

@import 'vendor/mq';

@import 'modules/existing';
@import 'modules/header';
@import 'modules/body';
@import 'modules/footer';
@import 'modules/menu';
 