.uit {
    overflow: hidden;
    background-color: $c-white;

    .ios &,
    .android & {
        h1, h2, h3, h4, h5, p {
            margin: 0;
        }

        p {
            margin-bottom: 8px;
        }

        a {
            text-decoration: none;;
        }
    }
}

.uit-container {
    position: relative;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;

    @include mq(mobileLandscape) {
        padding: 0 20px;
    }

    @include mq(tablet) {
        max-width: 740px;
        border-left: 1px solid $c-light-grey;
        border-right: 1px solid $c-light-grey;
    }

    @include mq(desktop) {
        max-width: 980px;
    }

    @include mq(leftCol) {
        max-width: 1140px;
    }

    @include mq(wide) {
        max-width: 1300px;
    }
}

.uit-content {
    position: relative;
    max-width: 620px;

    @include mq(leftCol) {
        margin-left: 160px;
    }

    @include mq(wide) {
        margin-left: 240px;
    }

    &:before {
        @include mq(leftCol) {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: -10px;
            width: 1px;
            background-color: $c-light-grey;
        }
    }
}
