.uit-body {
    p {
        @include bodyCopy();
        margin-bottom: 18px;
    }

    p a {
        color: $c-red;
        border-bottom: 1px solid mix($c-red, $c-white, 20%);
        text-decoration: none;

        &:hover {
            border-bottom-color: $c-red;
        }
    }

    .uit-content {
        padding-bottom: 12px;
    }
}

.uit-drop {
    @include dropCap(4);
    font-weight: bold;
    color: $c-red;
}

.uit-subhead {
    @include banding($c-yellow);
    font-size: 24px;
    font-weight: bold;
}

.uit-button {
    @include button($c-white, $c-red);
}
