figure.element-atom {
    margin-top: 0;
    margin-bottom: 0;
}

// this fixes margin issues on apps
figure.element-atom,
figure.interactive-atom {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

// resets headers on apps
.figure.element-atom {
    h1,
    h2,
    h3,
    h4 {
        margin: 0;
    }
}

// fixes font issues in headers
.pillar-link {
    font-weight: 700;
}

// shows footer
.l-footer {
    display: block !important;
}
