.uit-related {
    position: relative;
    background-color: $c-white;

    .uit-container {
        padding-bottom: 24px;

        @include mq(tablet) {
            border-top: 1px solid $c-light-grey;
        }
    }
}

.uit-related__header {
    margin: auto;
    clear: both;
    margin-bottom: 12px;
    border-top: 1px solid $c-light-grey;

    @include mq(tablet) {
        border-top: none;
    }

    @include mq(leftCol) {
        margin-bottom: 9px;
    }
}

.uit-related__title {
    margin: 0;
    font-family: 'Guardian Egyptian Web';
    font-size: 22px;
    line-height: 1.1;
    font-weight: 700;
    padding-top: 4px;

    @include mq(leftCol) {
        position: absolute;
        top: 3px;
        width: 150px;
    }

    @include mq(wide) {
        width: 230px;
    }

    &:after {
        @include mq(leftCol) {
            content: '';
            position: absolute;
            right: -1px;
            top: -3px;
            width: 1px;
            height: 1.25em;
            background-color: $c-light-grey;
        }
    }
}

.uit-related__items {
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mq(leftCol) {
        margin-left: 160px;
    }

    @include mq(wide) {
        margin-left: 240px;
        margin-right: 80px;
    }
}

.uit-related__item {
    position: relative;
    color: $c-black;
    border-top: 1px solid $c-red;
    width: calc(50% - 10px);
    margin-bottom: 12px;
    background-color: $c-off-white;
    text-decoration: none;

    @include mq(tablet) {
        width: calc(25% - 15px);
    }

    &:hover {
        text-decoration: none;
        background-color: $c-light-grey;
    }
}

.uit-related__image {
    width: 100%;
    display: block;
    background-color: $c-light-grey;
}

.uit-related__link {
    display: block;
    color: $c-black;
    font-family: 'Guardian Egyptian Web';
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;

    &:hover {
        text-decoration: none;
    }
}

.uit-related__headline {
    padding: 4px 6px 24px;
}
