.watchman__body {
    color: #333;
    background-color: $c-yellow;
    overflow: hidden;
    padding-top: 6px;
}

.watchman__plain-link {
    font-family: $f-sans-serif-text;

    @include mq(desktop) {
        padding-left: 60px;
    }

    @include mq(leftCol) {
        padding-left: 120px;
    }

    a {
        color: $c-brown;
    }
}

.watchman__container--1 {
    margin-top: 12px;
}

.watchman__content {
    max-width: 500px;

    @include mq(desktop) {
        padding-left: 60px;
    }

    @include mq(leftCol) {
        padding-left: 120px;
    }

    p {
        margin-bottom: 0;
        text-indent: 2em;

        &.initial-paragraph {
            font-size: 1.375rem;
            line-height: 1.4;
            padding-top: 0;
            text-indent: 0;
        }

        &.bookshop-paragraph,
        &.trail-paragraph,
        &.credit-paragraph {
            margin-top: 22px;
            border-top: 1px dotted #dfdfdf;
            padding-top: 6px;
            margin-bottom: 34px;
            text-indent: 0;

            a {
                color: $c-brown;
            }
        }

        &.credit-paragraph {
            border-top-style: solid;
        }
    }

    .initial-letter {
        font-size: 6.6em;
        line-height: 1em;
        float: left;
        display: block;
        margin-top: 1px;
        margin-bottom: -24px;
        margin-right: 4px;
    }
}

.watchman__window {
    margin: 30px 0;

    @include mq($until: desktop) {
        // importants to override Skrollr inline styles
        position: relative !important;
        top: 0 !important;
        display: block !important;
        padding-bottom: 73%;
    }

    @include mq(desktop) {
        display: block;
        position: absolute;
        width: 377px;
        height: 275px;
        margin-top: 0;
        margin-left: 100px;
        padding-bottom: 0;
        top: 0;
        left: 50%;
    }

/*
    @include mq(leftCol) {
        width: 545px;
        height: 390px;
    }
*/
}

.watchman__window--outside {
    margin-top: 20px;
    background-size: contain;
    background-repeat: no-repeat;

    @include mq($until: desktop) {
          padding-bottom: 48%;
    }
}

.window-frame {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat:no-repeat;
    background-size: contain;
    z-index: 5;
}

@keyframes rattle {
    0% {
        transform: translateY(-3px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-3px);
    }
}

.window-outside {
    position: absolute;
    top: 7%;
    left: 8%;
    right: 8%;
    bottom: 21%;
    overflow: hidden;
    margin: auto;
    border: 1px solid #3b3932;
    border-radius: 30px;
    background-size: cover;
    animation: rattle 3s infinite cubic-bezier(0.64, 0.64, 1, 1.68);
}

.window-layer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 360px;
    width: 100%;
    margin: auto;
    padding-right: 3640px;
    background-position-y: bottom;
    background-repeat: repeat-x;
}
.activeAnimation .window-layer {
    animation: slide 60s linear infinite;
    will-change: transform;
}

@keyframes slide {
    0% {
        transform: translateX(-3640px);
    }

    100% {
        transform: translateX(0px);
    }
}

@mixin animateWindow($width) {
    animation-name: slide#{$width};
    padding-right: $width;

    @keyframes slide#{$width} {
        0% {
            transform: translateX(-$width);
        }

        100% {
            transform: translateX(0px);
        }
    }
}

@keyframes slideObject {
    0% {
        transform: translateX(-3640px);
    }

    20% {
        transform: translateX(0px);
    }
}

.activeAnimation .window-outside--1 {
    .window-layer--bg {
        animation-duration: 100s;
    }

    .window-layer--mountains-1 {
        animation-duration: 80s;
        bottom: 60px;
    }

    .window-layer--back-dust {
        bottom: 40px;
        animation-duration: 40s;
    }

    .window-layer--mountains-2 {
        animation-duration: 70s;
    }

    .window-layer--dust {
        animation-duration: 15s;
        bottom: -50px;
    }

    .window-layer--trees,
    .window-layer--plants,
    .window-layer--rocks {
        animation-name: slideObject;
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    .window-layer--trees {
        animation-delay: -40s;
        animation-duration: 60s;
    }

    .window-layer--plants {
        animation-duration: 40s;
        animation-delay: -20s;
        background-size: 40%;
    }

    .window-layer--rocks {
        animation-duration: 60s;
    }
}

.activeAnimation .window-outside--2 {
    .window-layer--bg {
        @include animateWindow(4358px);
        bottom: -90px;
        animation-duration: 100s;
    }

    .window-layer--hills-1 {
        bottom: 22px;
        animation-duration: 90s;
    }

    .window-layer--back-dust {
        animation-duration: 30s;
        bottom: -8px;
    }

    .window-layer--hills-2 {
        @include animateWindow(3012px);
        bottom: -120px;
    }

    .window-layer--dust {
        animation-duration: 20s;
        bottom: -40px;
    }

    .window-layer--foreground {
        @include animateWindow(2657px);
        animation-duration: 50s;
        bottom: -14px;
    }
}

.activeAnimation .window-outside--4 {
    bottom: 25%;

    .window-layer--bg {
        @include animateWindow(2039px);
        animation-duration: 100s;
    }

    .window-layer--hills {
        @include animateWindow(1820px);
        animation-duration: 90s;
        bottom: 25px;
    }

    .window-layer--town {
        @include animateWindow(2141px);
        animation-duration: 80s;
        bottom: 10px;
    }

    .window-layer--dust {
        @include animateWindow(3640px);
        animation-duration: 10s;
        bottom: 10px
    }

    .window-layer--closetown {
        @include animateWindow(2136px);
        animation-duration: 20s;
        bottom: 28px;
    }
}

.watchman__divider {
    position: relative;
    z-index: 10;
    padding-bottom: 50%;
    margin: 30px 0;
    background-size: cover;

    @include mq(desktop) {
        padding-bottom: 40%;
    }
}

.watchman__divider--1 {
    .divider__background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: center bottom;
    }

    .divider__bridge {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center bottom;
    }

    .divider__train {
        position: absolute;
        bottom: 40%;
        height: 90px;
        width: 52%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left bottom;

        @include mq(desktop) {
            bottom: 48%;
        }
    }

    @keyframes windsockItToMe {
        0% {
            background-position: 0px -700px;
        }
        100% {
            background-position: 0px 0px;
        }
    }

    .divider__windsock {
        position: absolute;
        bottom: 40%;
        right: 5%;
        height: 100px;
        width: 86px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
        animation: windsockItToMe 1s infinite steps(7);

        @include mq(desktop) {
            bottom: 53%;
        }

        @include mq($until: desktop) {
            display: none;
        }
    }

    .divider__plane {
        position: absolute;
        right: 10%;
        top: 10%;
        height: 40px;
        width: 50px;
        background-size: contain;
        background-repeat: no-repeat;

        @include mq($until: desktop) {
            display: none;
        }
    }
}

@keyframes plantSwag {
    0% {
        transform: rotate(4deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(4deg);
    }
}

.watchman__divider--2 {
    overflow: hidden;

    .divider__background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: center bottom;
    }

    .divider__plant--1 {
        position: absolute;
        bottom: -5px;
        right: 29%;
        height: 22%;
        width: 20%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;
        animation: plantSwag 10s infinite cubic-bezier(0.71, 1.67, 0.62, 1.36);
        transform-origin: 50% 200%;
    }

    .divider__plant--2 {
        position: absolute;
        bottom: -11px;
        right: 13%;
        height: 24%;
        width: 20%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;
        animation: plantSwag 10s infinite cubic-bezier(0.71, 1.67, 0.62, 1.36);
        transform-origin: 50% 200%;
        animation-delay: -0.5s;
    }

    .divider__plant--3 {
        position: absolute;
        bottom: -5px;
        right: 4%;
        height: 12%;
        width: 20%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;
        animation: plantSwag 10s infinite cubic-bezier(0.71, 1.67, 0.62, 1.36);
        transform-origin: 50% 200%;
        animation-delay: -1s;
    }

    .divider__plant--4 {
        position: absolute;
        bottom: -5px;
        right: -6%;
        height: 22%;
        width: 20%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;
        animation: plantSwag 10s infinite cubic-bezier(0.71, 1.67, 0.62, 1.36);
        transform-origin: 50% 200%;
        animation-delay: -1.5s
    }
}

.watchman__divider--3 {
    .divider__background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
        background-position: center bottom;
    }

    @keyframes chicken {
        0% {
            background-position: 0px 0px;
        }
        100% {
            background-position: 0px -264px;
        }
    }

    .divider__chicken {
        position: absolute;
        top: 46%;
        left: 29%;
        height: 33px;
        width: 240px;
        background-size: cover;
        background-repeat: no-repeat;
        animation: chicken 1s infinite steps(8);
        will-change: background-position;

        @include mq($until: desktop) {
            display: none;
        }
    }

    .divider__car {
        position: absolute;
        left: 50%;
        right: 0;
        bottom: 17%;
        margin: auto;
        width: 66%;
        height: 37%;
        background-size: cover;
        background-repeat: no-repeat;
        will-change: transform;

        @include mq(desktop) {
            bottom: 21%;
            width: 61%;
            height: 42%;
        }
    }
}
