.watchman__body {
    color: $c-white;
    background-color: #272521;
    overflow-x: scroll;
}

.watchman__content {
    max-width: 500px;
    padding-top: 50px;

    p {
        margin-bottom: 0;
    }

    p:first-of-type:first-letter {
        font-size: 5em;
        line-height: 0;
        color: #fdd4bd;
    }

    p + p {
        text-indent: 2em;
    }
}

.watchman__window {
    position: relative;
    width: 1000px;
    height: 600px;
}

.window-frame {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("@@assetPath@@/assets/window.png") no-repeat;
    background-size: contain;
    z-index: 5;
}

.window-outside {
    position: absolute;
    top: 8%;
    left: 8%;
    right: 8%;
    bottom: 8%;
    overflow: hidden;
    margin: auto;
    border: 1px solid #3b3932;
    border-radius: 30px;
    background: url("@@assetPath@@/assets/bg.png") no-repeat;
    background-size: cover;
}

.window-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-size: 2000px;
    background-repeat: repeat-x;
    animation: slide 20s linear infinite;
    will-change: background;
}

@keyframes slide {
    0% {
        background-position-x: -2000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@for $layer from 1 through 5 {
    .window-layer--#{$layer} {
        background-image: url("@@assetPath@@/assets/layer-#{$layer}.png");
    }
}

.window-layer--1 {
    animation-duration: 100s;
}

.window-layer--2 {
    animation-duration: 80s;
}

.window-layer--3 {
    animation-duration: 70s;
}

.window-layer--4 {
    animation-duration: 50s;
}

.window-layer--5 {
    animation-duration: 40s;
}
