.content--interactive {
    border: 0;
    overflow: hidden;
}

.element-interactive {
    margin-top: 0 !important;
}

.article--feature .gs-container {
    padding: 0 10px;
}

.content-footer {
    display: none;
}

.l-side-margins {
    &:before,
    &:after {
        z-index: 5;
    }
}
