.watchman__footer {
    background-color: $c-dark-purple;
    margin-top: 30px;
    display: none;
}

.watchman__footer__title {
    background-color: $c-purple;
    color: $c-white;
    font-size: 1.2em;
    font-family: $f-serif-headline;
    font-weight: 900;
    padding-bottom: .75em;
    
    @include mq(tablet) {
        font-size: 1.4em;
    }
}

.watchman__footer__content {
    margin: 0;
    padding: 0;

    a:hover {
        text-decoration: none !important;
        opacity: .8;

        .footer-content__title {
            opacity: .8;
        }
    }

    .gs-container {
        padding-top: 12px;
        padding-bottom: 12px;
        overflow: auto;
    }

    .footer-content__item {
        position: relative;
        float: left;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;

        @include mq($until: tablet) {
            margin-top: 12px;
            border-top: 1px solid rgba($c-black, 0.2);
            padding-top: 6px;
        }

        @include mq(tablet) {
            width: 160px;
            padding-right: 9px;
            margin-left: 10px;
            height: 300px;
            border-right: 1px solid rgba($c-black, 0.2);
        }

        @include mq(desktop) {
            width: 220px;
        }

        &.footer-content__item--book {
            margin-left: 0;

            @include mq($until: wide) {
                display: none;
            }
        }

        &.footer-content__item--oprah {
            @include mq($until: wide) {
                margin-left: 0;
                border-top: 0;
                padding-top: 0;
                margin-top: 0;
            }
        }

        &.footer-content__item--badham {
            padding-right: 0;

            @include mq(tablet) {
                border: 0;
            }
        }
    }
}

.footer-content__title {
    color: $c-white;
    font-size: 1em;
    line-height: 1.2;
    font-family: $f-serif-headline;
    font-weight: 500;

    @include mq(tablet) {
        font-size: 1.4em;
        line-height: 1.1;
    }

    .footer-content__byline {
        color: $c-pink;
        display: block;
    }
}

.footer-content__rrp {
    color: #fc2983;
}

.footer-content__image {
    max-width: 100%;
    height: auto;

    @include mq($until: tablet) {
        display: none;

        .footer-content__item--oprah & {
            display: block;
            margin-bottom: 6px;
        }
    }
}

.footer__book-price {
    margin-top: 12px;
    border-top: 1px solid rgba($c-white, 0.2);
    padding-top: 4px;
    overflow: auto;

    .footer-content__title {
        width: 50%;
        float: left;
    }

    img {
        float: right;
    }
}
