.watchman__header {
    position: relative;
    height: 900px; 
    color: $c-white;
    background: $c-yellow url("@@assetPath@@/assets/bg.jpg") repeat-x;
    background-size: 50%;
    overflow: hidden;
    font-family: $f-serif-headline;
    font-weight: 900;
    line-height: 1.1;

    .gs-container {
        padding-top: 48px;
    }
}

.header__title {
    font-size: 4.6rem;
    margin-top: -0.1em;
    margin-bottom: -0.15em;
}

.header__byline {
    font-size: 1.8rem;
}

.header__title,
.header__byline {
    text-indent: 100px;
}

.header__description {
    color: $c-orange;
    font-size: 1.8rem;
}

.header__sound {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 1px solid $c-white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor:pointer;
    &:hover{
        opacity:0.8;
    }
}

.header__sound-button {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 16px;
    height: 13px;
    fill: $c-white;
}

.sound-button--off {
    display: none;
}

.header__meta {
    position: absolute;
    bottom: 140px;
    left: 0;
    right: 0;
    z-index: 10;
}

.header-meta__byline {
    width: 400px;
    float: left;
}

.header-meta__social {
    float: right;
    padding-top: 0 !important;
}

@keyframes headerLayers {
    0% {
        transform: translateX(-780px);
    }

    100% {
        transform: translateX(0px);
    }
}

.header-scene__layer-1,
.header-scene__layer-2 {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 400px;
    width: 100%;
    padding-right: 780px;
    animation: headerLayers 10s infinite linear;
}

.header-scene__layer-1 {
    background: url("@@assetPath@@/assets/header-layer-1.png") repeat-x;
    background-size: 780px;
    background-position-y: bottom;
    animation-duration: 14s;
    bottom: 30px;
}

.header-scene__layer-2 {
    background: url("@@assetPath@@/assets/header-layer-2.png") repeat-x;
    background-size: 780px;
    bottom: 40px;
    background-position-y: bottom;
}

@keyframes dust {
    0% {
        transform: translate(-1153px);
    }

    100% {
        transform: translate(0px);
    }
}

.header-scene__dust {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    height: 300px;
    width: 100%;
    background: url("@@assetPath@@/assets/dust.png") repeat-x;
    padding-right: 1153px;
    animation: dust 0.7s infinite linear;
}

.header-scene__plane {
    position: absolute;
    left: 80%;
}

.header-scene__train {
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    bottom: 50px;
}

@keyframes track {
    0% {
        transform: translateX(-908px);
    }

    100% {
        transform: translateX(0px);
    }
}

.header-scene__track {
    position: absolute;
    z-index: 6;
    bottom: -66px;
    left: 0;
    right: 0;
    width: 100%;
    padding-right: 908px;
    padding-bottom: 30px;
    background: url("@@assetPath@@/assets/header-tracks.png") repeat-x;
    height: 50px;
    background-color: $c-brown;
    will-change: background;
    animation: track 3s infinite linear;
}

@keyframes trainWobble {
    0% {
        transform: translate(0px);
    }
    50% {
        transform: translate(20px);
    }
    100% {
        transform: translate(0px);
    }
}

.train {
    display: flex;
    height: 457px;
    width: 140%;
    margin-left: -20%;
    animation: trainWobble 8s infinite cubic-bezier(0.01, 0.54, 0.87, 0.27);
}

.train__left {
    background: url("@@assetPath@@/assets/header-train-left.png") repeat-x;
    float: left;
}

.train__right {
    background: url("@@assetPath@@/assets/header-train-right.png") repeat-x;
    float: right;
}

.train__left,
.train__right {
    background-size: contain;
    flex-grow: 2;
    min-width: 3px;
}
