.watchman__menu {
    background-color: $c-brown;

    .gs-container {
        overflow: auto;
    }
}

.watchman__menu-inner {
    border-top: 1px solid $c-white;
    margin-top: 12px;
    padding-top: 6px;
    color: $c-white;
}

.watchman__menu__title {
    font-family: $f-sans-serif-headline;
}

.watchman__menu-segment {
    width: 220px;
    float: left;
}

.watchman__menu-segment--audiobook {
    overflow: auto;

    @include mq(desktop) {
        width: 460px;
    }

    @include mq(leftCol) {
        width: 700px;
    }
}

.audiobook__button {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $c-white;
    float: left;
    margin-bottom: 50px;
    margin-right: 10px;
    cursor: pointer;

    @include mq(desktop) {
        margin-left: 4px;
    }

    @include mq(leftCol) {
        margin-left: 62px;
    }

    &:hover {
        opacity: 0.8;
    }
}

.audiobook__icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40%;
    margin: auto;
    color: black;
}

.audiobook__icon--pause {
    display: none;
}

.audiobook__description {
    font-family: $f-serif-headline;
    font-weight: 200;
    line-height: 1;

    span {
        font-weight: 800;
        display: block;
    }
}

.watchman__menu-segment--ambient,
.watchman__menu-segment--share {
    position: relative;
    margin-left: 20px;

    &:before {
        content: "";
        position: absolute;
        width: 1px;
        left: -10px;
        top: 0;
        bottom: 0;
        background-color: $c-white;
    }
}

.watchman__menu-segment--ambient.voiceoverplaying{
    display:none;
}

.watchman__menu-social {
    padding-bottom: 0 !important;
}


.ambient__button {
    position: relative;
    border: 1px solid $c-white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor:pointer;

    &:hover{
        opacity:0.8;
    }
}

.ambient__icon {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 16px;
    height: 13px;
    fill: $c-white;
}

.ambient__icon--off{
    display: none;
}

.watchman__menu-placeholder{
    display:none;
}

// Fixed menu
.watchman__menu-placeholder.fixed{
    display:block;
}
.watchman__menu.fixed {
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
    background-color:transparent;

    .watchman__menu-segment--share{
        display:none;
    }
    .watchman__menu-segment--ambient{
        width:auto;
        float:right;
        &:before,h3{
            display:none;
        }
    }
    .watchman__menu-segment--audiobook{
        float:right;
        width:auto;
    }
    .ambient__button{
        background-color:rgba(0,0,0,0.4);
        border:none;
    }
    .audiobook__length{
        display:none;
    }
    .audiobook__button{
        width:32px;
        height:32px;
        background-color:rgba(0,0,0,0.4);
    }
    .audiobook__icon{
        fill:#fff;
    }
    .audiobook__content:before{
        content: 'Play voice over (22:00)';
        display:block;
        font-family:'Guardian Text Sans Web', Arial;
        font-size:14px;
        line-height: 1.2em;
        margin-top:2px;
        color:rgba(51,51,51,0.5);
    }
    .audiobook__description{
        display:none;
    }
    .watchman__menu-inner{
        border:none;
    }
}
