.watchman__menu {
    background-color: $c-brown;

    .gs-container {
        overflow: auto;
    }
}

.watchman__menu-inner {
    border-top: 1px solid $c-white;
    margin-top: 12px;
    padding-top: 6px;
    color: $c-white;
    overflow: hidden;
}

.watchman__menu__title {
    font-family: $f-sans-serif-headline;
}

.watchman__menu-segment {
    width: auto;
    float: left;
    @include mq(tablet) {
        width: 220px;
    }
}

.watchman__menu-segment.watchman__menu-segment--audiobook {
    overflow: auto;
    width:auto;

    @include mq(desktop) {
        width: 460px;
    }

    @include mq(leftCol) {
        width: 620px;
    }
}
.audiobook__content{
    margin-left:58px;
}
.audiobook__button {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $c-white;
    float: left;
    margin-bottom: 50px;
    margin-right: 10px;
    cursor: pointer;

    @include mq(desktop) {
        margin-left: 4px;
    }

    @include mq(leftCol) {
        margin-left: 62px;
    }

    &:hover {
        opacity: 0.8;
    }
}

.audiobook__icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40%;
    margin: auto;
    color: black;
}

.audiobook__icon--pause {
    display: none;
}

.audiobook__description {
    font-family: $f-serif-headline;
    font-weight: 200;
    line-height: 1;

    span {
        font-weight: 800;
        display: block;
    }
}

.watchman__menu-segment--ambient,
.watchman__menu-segment--share {
    position: relative;
    // margin-left: 20px;
    margin-left:58px;

    &:before {
        content: "";
        position: absolute;
        width: 1px;
        left: -10px;
        top: 0;
        bottom: 0;
        background-color: $c-white;
        display:none;
    }
}
.watchman__menu-segment--share h3{
    display:none;
}

.watchman__menu-segment--ambient{
    margin-top:10px;
    margin-bottom:10px;
    h3{
    font-size:14px;
    margin-bottom:0;
    }
}
.content--interactive .social--top{
    padding-top:0;
}
@media(min-width:420px){
    .watchman__menu-segment--ambient,
    .watchman__menu-segment--share{
        margin-left:70px;
        margin-top:0;
        margin-bottom:20px;
        &:before{
            display:block;
        }
        h3{
            display:inline-block;
            font-size:16px;
            margin-bottom:0.4375rem;
        }
    }
    .watchman__menu-segment--ambient{
        margin-left:20px;
    }
    .watchman__menu-segment--share{
        clear:both;
    }
}
@include mq(tablet){
    .watchman__menu-segment--share{
        margin-left:20px;
        clear:none;
    }
    .watchman__menu-segment--ambient,
    .watchman__menu-segment--share{
        width:120px;
        h3{
            font-size:14px;
        }
    }
}
@include mq(desktop){
    .watchman__menu-segment--ambient,
    .watchman__menu-segment--share{
        width:220px;
        h3{
            font-size:16px;
        }
    }
}

.watchman__menu-segment--ambient.voiceoverplaying{
    display:none;
}

.watchman__menu-social {
    padding-bottom: 0 !important;
}


.ambient__button {
    position: relative;
    border: 1px solid $c-white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor:pointer;

    &:hover{
        opacity:0.8;
    }
}

.ambient__icon {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 16px;
    height: 13px;
    fill: $c-white;
}

.ambient__icon--off{
    display: none;
}

.watchman__menu-placeholder{
    display:none;
}

// Fixed menu
.watchman__menu-placeholder.fixed{
    display:block;
    background-color:#aa5a4f;
}
.watchman__menu.fixed {
    position: fixed;
    bottom: 0;
    z-index: 20;
    width: 100%;
    background-color:transparent;
    display:none;
    height:60px;
    @include mq(tablet){
        display:block;
    }

    .watchman__menu-segment--share{
        display:none;
    }
    .watchman__menu-segment--ambient{
        width:auto;
        float:right;
        margin-right:10px;
        margin-top:0;
        &:before,h3{
            display:none;
        }
    }
    .watchman__menu-segment--audiobook{
        float:right;
        width:auto;
    }
    .ambient__button{
        background-color:rgba(0,0,0,0.4);
        border:none;
    }
    .audiobook__length{
        display:none;
    }
    .audiobook__button{
        width:32px;
        height:32px;
        background-color:rgba(0,0,0,0.4);
        margin-left:0;
    }
    .audiobook__icon{
        fill:#fff;
    }
    .audiobook__content:before{
        content: 'Play voice over (23:45)';
        display:block;
        font-family:'Guardian Text Sans Web', Arial;
        font-size:14px;
        line-height: 1.2em;
        margin-top:2px;
        color:rgba(51,51,51,0.5);
    }
    .audiobook__description{
        display:none;
    }
    .watchman__menu-inner{
        border:none;
        margin-top:0;
    }
    .audiobook__content{
        margin-left:0
    }
}
