.social {
  overflow-y: hidden;
  height: 2em;
}

.u-unstyled, .inline-list, .linkslist {
  margin: 0;
  list-style: none;
}

.u-cf:after, .u-cf:before {
  content: '';
  display: table;
}

.social__item {
  float: left;
  min-width: 2.25em;
  padding: 0 0.1875em 0.375em 0;
}

.social__action {
  display: inline-block;
}

.u-h {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 0.0625em !important;
  margin: -0.0625em !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 0.0625em !important;
}

.social-icon, .social-icon:hover, .social-icon:active, .social-icon:focus {
  color: #ffffff;
  text-decoration: none;
}

.social-icon {
  border: 0;
  min-width: 2em;
  max-width: 100%;
  width: auto;
  height: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rounded-icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-border-radius: 62.5em;
  border-radius: 62.5em;
}

.social-icon--facebook {
  background-color: #3067a3;
  .i{
  	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iLTIgLTIgMzIgMzIiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0xNy45IDE0aC0zdjhIMTJ2LThoLTJ2LTIuOWgyVjguN0MxMiA2LjggMTMuMSA1IDE2IDVjMS4yIDAgMiAuMSAyIC4xdjNoLTEuOGMtMSAwLTEuMi41LTEuMiAxLjN2MS44aDNsLS4xIDIuOHoiLz48L3N2Zz4=);
  }
  
}
.social-icon--email {
  background-color: #767676;
  .i{
	  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iLTIgLTIgMzIgMzIiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0yMC4yIDExLjdsLS40LS40LTUuNyAyLjctNS43LTIuNy0uMy40IDYgNC45IDYuMS00Ljl6TTIxLjQgN0g2LjVMNSA5LjV2OS4zTDYuNiAyMGgxNC45bDEuNS0xLjJWOS41TDIxLjQgN3ptLS41IDEwLjhINy4xVjkuMmgxMy44djguNnoiLz48L3N2Zz4=);
	}
}

.social-icon--twitter {
  background-color: #03b3ee;
  .i{
	  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iLTIgLTIgMzIgMzIiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0yMS4zIDEwLjV2LjVjMCA0LjctMy41IDEwLjEtOS45IDEwLjEtMiAwLTMuOC0uNi01LjMtMS42LjMgMCAuNi4xLjguMSAxLjYgMCAzLjEtLjYgNC4zLTEuNS0xLjUgMC0yLjgtMS0zLjMtMi40LjIgMCAuNC4xLjcuMWwuOS0uMWMtMS42LS4zLTIuOC0xLjgtMi44LTMuNS41LjMgMSAuNCAxLjYuNC0uOS0uNi0xLjYtMS43LTEuNi0yLjkgMC0uNi4yLTEuMy41LTEuOCAxLjcgMi4xIDQuMyAzLjYgNy4yIDMuNy0uMS0uMy0uMS0uNS0uMS0uOCAwLTIgMS42LTMuNSAzLjUtMy41IDEgMCAxLjkuNCAyLjUgMS4xLjgtLjEgMS41LS40IDIuMi0uOC0uMy44LS44IDEuNS0xLjUgMS45LjctLjEgMS40LS4zIDItLjUtLjQuNC0xIDEtMS43IDEuNXoiLz48L3N2Zz4=);
	}
}

.social-icon--whatsapp {
  background-color: #59cb3f;
  .i{
  	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCIgdmlld0JveD0iMCAwIDMwIDMwIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMjIuMDkgNy44N2MtMS44OC0xLjg4LTQuMzgtMi45Mi03LjA1LTIuOTItNS40OSAwLTkuOTYgNC40Ny05Ljk2IDkuOTYgMCAxLjc1LjQ2IDMuNDcgMS4zMyA0Ljk4TDUgMjUuMDRsNS4yOC0xLjM4YzEuNDUuNzkgMy4wOSAxLjIxIDQuNzYgMS4yMSA1LjQ5IDAgOS45Ni00LjQ3IDkuOTYtOS45NiAwLTIuNjUtMS4wMy01LjE1LTIuOTEtNy4wNG0tNy4wNSAxNS4zMmMtMS40OSAwLTIuOTUtLjQtNC4yMi0xLjE1bC0uMy0uMTgtMy4xMy44Mi44NC0zLjA1LS4yLS4zMUM3LjIgMTggNi43NiAxNi40NyA2Ljc3IDE0LjkxYzAtNC41NiAzLjcxLTguMjcgOC4yOC04LjI3IDIuMjEgMCA0LjI5Ljg2IDUuODUgMi40MyAxLjU2IDEuNTYgMi40MiAzLjY0IDIuNDIgNS44NSAwIDQuNTYtMy43MiA4LjI3LTguMjggOC4yN200LjU0LTYuMmMtLjI1LS4xMi0xLjQ3LS43My0xLjctLjgxcy0uMzktLjEyLS41Ni4xMmMtLjE3LjI1LS42NC44MS0uNzkuOTctLjE0LjE3LS4yOS4xOS0uNTQuMDYtLjI1LS4xMi0xLjA1LS4zOS0yLTEuMjMtLjc0LS42Ni0xLjI0LTEuNDctMS4zOC0xLjcyLS4xNS0uMjUtLjAyLS4zOC4xMS0uNTEuMTEtLjExLjI1LS4yOS4zNy0uNDQuMTItLjE1LjE3LS4yNS4yNS0uNDIuMDgtLjE3LjA0LS4zMS0uMDItLjQ0LS4wNi0uMTItLjU2LTEuMzUtLjc3LTEuODUtLjItLjQ5LS40MS0uNDItLjU2LS40My0uMTQtLjAxLS4zMS0uMDEtLjQ4LS4wMS0uMTcgMC0uNDQuMDYtLjY2LjMxLS4yMi4yNS0uODcuODUtLjg3IDIuMDggMCAxLjIyLjg5IDIuNDEgMS4wMiAyLjU3LjEyLjE3IDEuNzUgMi42OCA0LjI1IDMuNzYuNTkuMjYgMS4wNi40MSAxLjQyLjUyLjYuMTkgMS4xNC4xNiAxLjU3LjEuNDgtLjA3IDEuNDctLjYgMS42OC0xLjE4cy4yMS0xLjA4LjE0LTEuMThjLS4wNi0uMDgtLjIzLS4xNC0uNDgtLjI3Ii8+PC9zdmc+);
  }
  
}

.svg .social-icon i {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  -webkit-background-size: 88% 88%;
  background-size: 88%;
  background-position: center;
}

@media (min-width: 46.25em){
	.social__item--whatsapp {
	  display: none;
	}
}